
 /*供应商咨询*/
.dealers-main p img{
    width: .4rem;
}
.dealers-main p span{
    display: inline-block;
    font-size: .25rem;
    color: #0073be;
}
.dealers-main strong a{
    color: #0073be;
    font-weight: 200;
    font-size: .4rem;
}
